.banner{
    background-color: rgb(255, 255, 255);
    padding: 90px;
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.col{
    padding: 20px;
    margin:50px;
}
.w-100 {
    width: 50% !important;
    height: 60vh;
    margin-left: 25%;
  }
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
  }
  .scroll-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    background: rgb(108, 219, 247);
    color: #fff;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    line-height: normal;
    border: none;
}

.text-box {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;  
  }
  
  .heading-primary {
      color:rgb(89, 171, 238);
      text-transform: uppercase;
  }
  
  .heading-primary-main {
      display: block;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 35px;
     /*  Animation decalaration   */
      animation-name: moveInleft;
      animation-duration: 3s;
  }
  
  .heading-primary-sub {
      display: block;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 15.9px;
    
      animation-name: moveInRight;
      animation-duration: 3s;
  }
  
  @keyframes moveInleft {
      0% {
          opacity: 0;
          transform: translateX(-100px);
      }
  
      80% {
          transform: translateX(10px);
      }
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }
  
  @keyframes moveInRight {
      0% {
          opacity: 0;
          transform: translateX(100px);
      }
  
      80% {
          transform: translateX(-10px);
      }
      
      100% {
          opacity: 1;
          transform: translate(0);
      }
  
  }


.slideshow {
    overflow: hidden;
    width: 600px;
    height: 300px;
    background-color: #000;
    margin: 10px;
    margin-left: 15%;
}
.slideshow img{
    width: 400;
    height: 400;
}
body{
    
        background-color: rgb(23, 136, 206); /* For browsers that do not support gradients */
        background-image: linear-gradient(rgb(245, 245, 245), rgb(79, 155, 206));
      }

#contact{
    color: black;
    font-size: large;
    margin: 20px;
    font-weight: 500;
}

  
  
.box {
 
    position: relative;
    /* Standard syntax */
    animation-name: moveit;
    animation-duration: 5s ;
    animation-iteration-count : infinite;
}
 
 
/* Standard syntax */
@keyframes moveit {
    from {left: 0%;}
    to {left: 60%;}
}  

